@import "tailwindcss";
@import "tw-animate-css";
/* @import "shadcn/tailwind.css"; */
/* @import "@fontsource-variable/inter"; */

/* @custom-variant dark (&:is(.dark *)); */

html {
  scroll-behavior: smooth;
}

*,
div {
  box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}

p,
a {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}